@charset "UTF-8";
/* CSS Document */
html {
  font-size: 62.5%; /* 16px * 62.5% = 10px */
  width: 100%;
  box-sizing: border-box;
}
body {
    background-color: #ccc;
  color: #333; /* RGB */
    font-family: "BIZ UDゴシック";
  font-weight: 500;
  font-size: 1.6em;
  line-height: 1.4;
  text-align: left;
  margin: 0;
  padding: 0;
  position: relative;
}
li {
    list-style: none;
}
.section {
    padding: 32px 16px;
}
.section-title {
    font-size: 1.8rem;
    text-align: center;
    font-family: "BIZ UD明朝";
}
.section-contents {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 48px;
}
.section-contents li {
    background-color: #fff;
    border-radius: 8px;
    padding-bottom: 16px;
}
.contents-images {
    display: flex;
    flex-direction: column-reverse;
}
.contents-images h2 {
    font-size: 1.6rem;
    margin: 16px 16px 0 16px;
}
.contents-images img {
    width: 100%;
    border-radius: 8px 8px 0 0;
}
.contents-description {
    font-size: 1.4rem;
    margin: 8px 16px 0 16px;
}
@media(min-width: 800px) {
    .section {
        padding: 92px 0;
    }
    .section-title {
        font-size: 2.4rem;
    }
    .section-contents {
        display: flex;
        flex-direction: row;
        gap: 40px;
        margin: 64px auto 0;
        max-width: 1040px;
    }
}