body {
    background-color: #ccc;
    display: block;
    font-family: "BIZ UDゴシック";
}
li {
    list-style: none;
}
.section { 
    padding: 32px 16px;

}
.title {
    font-size: 2.4rem;
    text-align: center;
    font-family: "BIZ UD明朝";
}
.section-contents {
    margin: 50px 0;
    padding: 0;
}
.section-contents li {
    margin: 0 auto;
    width: 100%;
    display: block;
}
.section-contents li:nth-of-type(2), .section-contents li:nth-of-type(3) {
    margin: 24px auto;
    width: 100%;
    display: block;
}
.section-contents01__image {
    width: 100%;
    margin: 0;
    border-radius: 8px 8px 0 0;
}
.section-contents01__descriotion {
    background-color: #fff;
    padding: 10px 15px;
    margin: 0;
    border-radius:0 0 8px 8px;
}
.section-contents01__descriotion h2 {
    margin: 0;
    font-size: 1.8rem;
}
.section-contents01__descriotion p {
    font-size: 1.6rem;
    line-height: 1.4;
}
@media(min-width: 960px) {
    
    .section {
        margin: 92px 0;
    }
    .section-contents {
        display: flex;
        margin: 64px 0;
    }
    .section-contents li:nth-of-type(2), .section-contents li:nth-of-type(3) {
        margin: 0 auto;
    }
}